/* css reset */
body {
    margin: 0;
    padding: 0;
  }

/* add fonts to css */
@font-face {
    font-family: 'Times Ten';
    src: url('fonts/TimesTen.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Times Ten';
    src: url('fonts/TimesTenItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Times Ten';
    src: url('fonts/TimesTenBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Times Ten';
    src: url('fonts/TimesTenBoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}


/* header */
#header-img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px){
    #header-img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    }
}

/* nav */
#nav-bar-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    font-family: 'Times Ten', serif;
    letter-spacing: 1.92px;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 30px;
}

.nav-link a{
    text-decoration: none;
    color: transparent;
    background: #E8B562;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   text-shadow: 0px 3px 3px rgba(255,255,255,0.5), 0 0 0 rgba(156,112,52,0.5);
}

#nav-bar{
    background-color: #FFF5E9;
    position: sticky;
    top: 0;
    overflow: hidden;
}

@media (max-width: 768px){
    #nav-bar{
        width:100%;
        height: auto;
        margin:0;
        padding: 0;
    }

    #nav-bar ul{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        width:100%;
        height: auto;
        margin:0;
        padding:30px;
    }

    .nav-link a{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
}

/* video section */
#product-intro{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FDFEFF;
    margin: 0;
    padding: 0;
}

#quote-text{
text-align: center;
font-family: 'Times Ten', serif;
font-size: 22px;
font-weight: 400;
letter-spacing: 1.92px;
line-height: 50px;
margin-top: 50px;
margin-bottom: 40px;
color: #29323B;
}

#video-desc{
text-align: center;
font-family: 'Times Ten', serif;
font-size: 22px;
font-weight: 400;
letter-spacing: 1.92px;
line-height: 35px;
margin-top: 40px;
margin-bottom: 55px;
color: #29323B;
}

#product-video{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: 0 auto;
}

@media (max-width: 768px){

    #product-intro{
        width: 100%;
        height: auto;
        margin:0;
        padding:0;
    }

    #product-video{
        width: 100%;
        height: auto;
        margin:0;
        padding:0;
}
}

/* tracklist */
#album-tracklist{
display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: 0px;
}

#tracklist-img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-top: 0px;
}

@media (max-width: 768px){

    #album-tracklist{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    }
    
    #tracklist-img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    }
}

#product-shop{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
    padding:0;
    background-color: #E5E5E5;
}

#product-cards{
    display: flex;
    flex-direction: column;
    justify-content:center;
    font-family: 'Times Ten', serif;
    font-size: 20px;
    font-weight:400;
    letter-spacing: 1.92px;
    margin-top: 50px;
    background-color: white;
}

.product-img{
    width: 300px;
    height: auto;
}