/* css reset */
body {
    margin: 0;
    padding: 0;
  }

/* add fonts to css */
@font-face {
    font-family: 'Times Ten';
    src: url('fonts/TimesTen.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Times Ten';
    src: url('fonts/TimesTenItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Times Ten';
    src: url('fonts/TimesTenBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Times Ten';
    src: url('fonts/TimesTenBoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}


/* header */
#header-img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px){
    #header-img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    }
}


/* nav */
#nav-bar-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    font-family: 'Times Ten', serif;
    letter-spacing: 1.92px;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 30px;
}

.nav-link a{
    text-decoration: none;
    cursor: pointer;
    color: transparent;
    background: #E8B562;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   text-shadow: 0px 3px 3px rgba(255,255,255,0.5), 0 0 0 rgba(156,112,52,0.5);
}

#nav-bar{
    background-color: #FFF5E9;
    position: sticky;
    top: 0;
    overflow: hidden;
}

@media (max-width: 768px){
    #nav-bar{
        width:100%;
        height: auto;
        margin:0;
        padding: 0;
    }

    #nav-bar-ul{
        display:flex;
        gap:10px;
        font-size: 10px;
        justify-content: center;
    }

}


/* video section */
#product-intro{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FDFEFF;
    margin: 0;
    padding: 0;
}

#quote-text{
text-align: center;
font-family: 'Times Ten', serif;
font-size: 22px;
font-weight: 400;
letter-spacing: 1.92px;
line-height: 50px;
margin-top: 50px;
margin-bottom: 40px;
color: #29323B;
}

#video-desc{
text-align: center;
font-family: 'Times Ten', serif;
font-size: 22px;
font-weight: 400;
letter-spacing: 1.92px;
line-height: 35px;
margin-top: 40px;
margin-bottom: 55px;
color: #29323B;
}

#product-video{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: 0 auto;
}

@media (max-width: 768px){

    #product-intro{
        width: 100%;
        height: auto;
        margin:0;
        padding:0;
    }

    #product-video{
        width: 100%;
        height: auto;
        margin:0;
        padding:0;
}
    #video-desc{
        text-align: center;
        font-family: 'Times Ten', serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 26px;
        color: #29323B;
}
    #quote-text{
        text-align: center;
        font-family: 'Times Ten', serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 33px;
        color: #29323B;
}
}


/* tracklist */
#album-tracklist{
display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: 0px;
}

#tracklist-img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-top: 0px;
}

@media (max-width: 768px){

    #album-tracklist{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    }
    
    #tracklist-img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    }
}


/* shop section */
#product-shop{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin:0;
    padding:0;
    background-color: #E5E5E5;
    width:100%;
    height: auto;
}

#product-cards{
    display: flex;
    flex-direction: column;
    font-family: 'Times Ten', serif;
    font-size: 20px;
    font-weight:400;
    letter-spacing: 1.92px;
    
}

table {
  border-collapse: separate; 
  border-spacing: 50px; 
}

td{
    background-color: #F1F1F1;
    text-align: center;
    font-family: 'Times Ten', serif;
    font-size: 20px;
    font-weight: 400;
    padding: 15px;
    width: 450px;
    color: #29323B;
}

td li{
    list-style: none;
    margin-right: 50px;
    line-height: 50px;
}

td button{
    margin-top: 60px;
    margin-bottom: 15px;
    font-family: 'Times Ten', serif;
    font-size: 26px;
    letter-spacing: 9px;
    font-weight: 400;
    color: white;      
    text-shadow: 0px 0px 3px rgb(255, 218, 169);
    background: #7C8FA0;  
    padding: 0.5rem 1rem;
    cursor: pointer;
    box-shadow:none;
    border-style: initial;
    transform: none;
    width: 350px;
    height: 130px;
}

.gold-text{
    color: #B38542;
    font-family: 'Times Ten', serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 40px;
}

.product-img{
    width: 400px;
    height: auto;
}

@media (max-width: 768px){
  table, thead, tbody, th, td, tr { 
    display: block; 
    width: 100%; 
}
  tr { 
    margin-bottom: 1rem; 
}
  td { 
    box-sizing: border-box; 
    width: 100% !important; 
    padding: 0.75rem; }

  table { 
    border-collapse: separate; 
    border-spacing: 50px; 
}

.product-img{
    width: 400px;
    height: auto;
}
}


/* form section */
#form-section{
    background-image: url('../images/Form Background.png');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin:0;
    padding 0;
}


form{
    max-width: 600px
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  font-family: 'Times Ten', serif;
  font-size: 15px;;
}