body{
    margin: 0;
    padding: 0;
    background-color: black;
}

#header-text{
    font-family: 'Outfit', sans-serif;
    font-size: 120px;
    font-weight: 400;
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 100px;
}

#reflection-main h2{
    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    font-weight: 200;
    text-align: center;
    color: white;
}

 p{
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-weight: 200;
    text-align: justify;
    color: white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 130px;
}

.question{
    font-family: 'Outfit', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    color: white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}